.divMainMenu {
    width: 50%;
    background-color: gray;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.divBody {
    width: 99%;
    height: 500px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}