.container {
    width: 70%;
    border: groove;
    padding: 10px;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

.btnIcon {
    border: none;
    padding: 0px;
    margin-left: 5px;
}

.iconBoton {
    width: 20px;
    height: 15px;
}